.char-arrange {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  border-radius: 0.7rem;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
}

.hero-box {
  margin: 5px 5px;
}

.hero-box:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
  z-index: 1;
}

.hero-box:hover .character-names {
  display: block;
}

.character-names {
  display: none;
  color: white;
  font-size: 15px;
}

.top-section {
  padding: 1vh;
  font-size: 50px;
}

.pick-hero {
  display: flex;
  justify-content: space-between;
}

.left-hero {
  width: 400px;
  height: 450px;
  margin: 80px 80px 30px 30px;
  border-radius: 1rem;
  background-color: red;
}

.left-sp {
  width: 400px;
  height: 450px;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 1px;
}

.right-hero {
  width: 400px;
  height: 450px;
  margin: 80px 80px;
  border-radius: 1rem;
}

.right-sp {
  width: 400px;
  height: 450px;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 1px;
}

.first-box {
  display: flex;
  align-content: flex-end;
}

.right-arrange {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: red;
}

.second-box {
  display: flex;
  align-content: flex-start;
}

.stats-left-hero1 {
  height: 100px;
  width: 100px;
  font-size: 13px;
  padding: 100px 0 150px 0;
  color: white;
  border: none;
  background: none;
}

.stats-left-hero2 {
  height: 100px;
  width: 100px;
  font-size: 13px;
  padding: 100px 0 100px 0;
  color: white;
  border: none;
  background: none;
}

.stats-right-hero1 {
  height: 100px;
  width: 100px;
  font-size: 13px;
  padding: 100px 0 100px 0;
  color: white;
  border: none;
  background: none;
}

.stats-right-hero2 {
  height: 100px;
  width: 100px;
  font-size: 13px;
  padding: 100px 0 100px 0;
  color: white;
  border: none;
  background: none;
}

.leftImageOverlay {
  display: flex;
  color: white;
  justify-content: flex-start;
  align-content: flex-start;
}

.player1Name {
  background-color: black;
  height: 30px;
}

.player2Name {
  background-color: black;
  height: 30px;
}

.rightImageOverlay {
  display: flex;
  color: white;
  justify-content: flex-end;
  align-content: flex-end;
}

.versus-image {
  width: 400px;
  height: 400px;
}

.overall-pos1 {
  padding-top: 20px;
  color: white;
}

.overall-pos2 {
  padding-top: 20px;
  color: white;
}

.background {
  background-image: url("https://cutewallpaper.org/21/fire-background-gif/Fire-Fighting-GIF-Find-Share-on-GIPHY.gif");
  background-size: cover;
  position: sticky;
}
